<!--
	Este form serve para fazer o cadastro de memorandos
-->
<br>
<div class="span11 memorando">
			<form class="form-horizontal" ng-submit="salva()">
		<div class="controls controls-row">
				<div class="control-goup span8">
					<label for="lotacaoSaida" class="control-label lot">Lotação de saída</label>
					<div class="controls"><input class="input-xxlarge" type="text" id="provider-json-1" required ng-model="memorando.lotacaosaida"></div>
				</div>
		</div>
		<br>
		<div class="controls controls-row">
			<div class="control-group span8">
				<label for="lotacaoDestino" class="control-label lot">Lotação de destino</label>
					<div class="controls"><input class="input-xxlarge" type="text" id="provider-json-2" required ng-model="memorando.lotacaodestino"></div>
			</div>
		</div>
				<div class="control-group">
				</div>
		<div class="controls controls-row">
				<div class="control-group span4">
					<label for="" class="control-label">Nº memorando</label>
					<div class="controls"><input class="input-small" type="text" id="" required ng-model="memorando.numeromemorando"></div>
				</div>
				<div class="control-group span4">
					<label for="" class="control-label" style="width: 100px;">Assunto</label>
					<div class="controls">
						<select id="valoroperacao" ng-model="memorando.assunto" ng-options="memorandotabela.operacao as memorandotabela.operacao for memorandotabela in operacoes">
								<option value="">--Escolha uma Operação--</option>
						</select>
					</div>
				</div>
		</div>
				<div class="control-group">
				</div>
				<table id="tabela" class="table table-bordered tabela">
					<caption>Memorando cartic</caption>
					<thead>
						<tr>
						<th class="centralizado">Tombo</th>
						<th class="centralizado">Descrição</th>
						<th class="centralizado">Local</th>
						<th class="centralizado">Situação</th>
						<th></th>
						</tr>
					</thead>
					<tbody id="tabela-body">
					<tr ng-repeat="tabela in memorando.tabela track by $index" ng-hide="tabela.length">
						<td><input type="text" placeholder="Tombo" class="input-small" required ng-model="tabela.tombo"></td>
						<td><input type="text" placeholder="Descrição" class="input-medium" required ng-model="tabela.descricao"></td>
						<td><input class="input-xlarge" type="text" id="provider-json-3" required ng-model="tabela.local"></td>
						<td>
							<select
								required
								ng-model="tabela.situacao"
								ng-options="tabela.situacao as tabela.situacao for tabela in situacoes">
							</select>
						</td>
						<td><button class="btn-link remove-item" ng-click="removeItem($index)"><i class="icon-remove"></i></button></td>
					</tr>
					</tbody>
				</table>
				<p><button type="button" id="btn-adiciona" class="btn" ng-click="adicionaItem(tabela); selecionaSituacao;">Adicionar</button></p>
				<br>
				<div class="controls controls-row">
				<div class="control-group span4">
					<label for="" class="control-label">Observação</label>
					<div class="controls"><input type="text" class="input-xxlarge" id="" placeholder="Descreva o assunto do memorando" required ng-model="memorando.observacao"></div>
				</div>
				</div>
				<div class="control-group">
				</div>

				<div class="controls centralizado" style="margin-left: 0;">
				<button type="submit" class="btn btn-primary btn-large">Cadastrar</button>
				</div>
			</form>
		</div>
