<!--
	Este form serve para apresentar os dados do memorando na tela
-->
<h2 class="centro">Últimos memorandos adicionados</h2>
<!--div infinite-scroll='nextPage()' infinite-scroll-distance='3' -->
<div tagged-infinite-scroll="getMore()" tagged-infinite-scroll-distance="0">
<div ng-repeat="memorando in memorandos | filter: global.search" class="span11 memorando">
			<form action="" class="form form-lista form-horizontal">
		<div style="margin-left: 10px;" class="controls controls-row">
			<span style="float: left;">Data: {{memorando.data | date: 'dd/MM/yyyy'}}</span><a ng-click="remove(memorando)" class="btn-link"><i style="float: right;" class="icon-remove"></i></a><a ng-href="#/memorando/{{memorando._id}}"><i style="float: right; margin-right: 5px;" class="icon-pencil"></i></a>

		</div>
		<br>
		<div class="controls controls-row">
				<div class="control-goup span6">
					<label for="" class="control-label titulo-label negrito">Lotação de saída:</label>
					<div class="controls">{{memorando.lotacaosaida}}</div>
				</div>
				<div class="control-goup span6">
					<label for="" class="control-label titulo-label negrito">Lotação de destino:</label>
					<div class="controls">{{memorando.lotacaodestino}}</div>
				</div>
		</div>
				<div class="control-group">
				</div>
		<div class="controls controls-row">
				<div class="control-group span6">
					<label for="" class="control-label titulo-label negrito">Nº memorando:</label>
					<div class="controls"><a ng-href="#/memorando/imprime/{{memorando._id}}">{{memorando.numeromemorando}}</a></div>
				</div>
				<div class="control-group span6">
					<label for="" class="control-label titulo-label negrito">Assunto:</label>
					<div class="controls">{{memorando.assunto}}</div>
				</div>
		</div>
				<div class="control-group">
				</div>
				<table id="tabela" class="table table-bordered tabela">
					<caption>Memorando cartic</caption>
					<thead>
						<tr>
						<th class="centralizado">Tombo</th>
						<th class="centralizado">Descrição</th>
						<th class="centralizado">Local</th>
						<th class="centralizado">Situação</th>
						</tr>
					</thead>
					<tbody id="tabela-body">
					<tr ng-repeat="tabela in memorando.tabela">
						<td>{{tabela.tombo}}</td>
						<td>{{tabela.descricao}}</td>
						<td>{{tabela.local}}</td>
						<td>{{tabela.situacao}}</td>
					</tr>
					</tbody>
				</table><br>
				<div class="controls controls-row">
				<div class="control-group span8">
					<label for="" class="control-label titulo-label negrito">Observação:</label>
					<div class="controls">{{memorando.observacao}}</div>
				</div>
				</div>
				<div class="control-group">
				</div>
			</form>
		</div>
	</div>
		<!--/div>< final do ng-infiiniti scroll-->
		<div id="loader-icon">
			<img src="vendor/bootstrap/img/loading.gif" alt="" />
		</div>
