<!DOCTYPE html>
<html>
<head>
   <meta charset="UTF-8">
    <meta name=description content="curso boot">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
    <title>Bootstrab</title>
    <style>
        body        { padding-top:80px; }
    </style>
</head>
<body>
<div class="container">

<div class="col-sm-6 col-sm-offset-3">

    <h1><span class="fa fa-sign-in"></span> Login - CARTIC</h1>

   
    <form action="/login" method="post">
        <div class="form-group">
            <label>Login</label>
            <input type="text" class="form-control" name="login">
        </div>
        <div class="form-group">
            <label>Senha</label>
            <input type="password" class="form-control" name="senha">
        </div>

        <button type="submit" class="btn btn-warning btn-lg">Login</button>
    </form>


</div>

</div>
</body>
</html>